/* NavBar */
.navbar {
	background-color: var(--primary-color);
	color: var(--text-color); 
	height: 70px;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 10px;
	margin: 0 5px;
}

.navbar a:hover {
	border: 2px solid #fff;
	border-radius: 0.5rem; 
}

.navbar .flex {
	justify-content: space-between;
}

/* Utility */

.btn {
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 10px; 
}

.btn-outline{
	background-color: transparent;
	border: 1px solid #fff; 
}

.btn:hover {
	transform: scale(0.95);
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	padding: 15px;
	margin: 10px;
	color: #333;

}

.demo-request{
	box-shadow: 0 2px 50px rgba(0,0,0,1.5);
}

.container{
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
	align-items: center;
	justify-content: center;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-bottom: 10px;
}



nav > ul{
	display: flex;
	flex-direction: row;
}

li{
	margin-left: 10px;
	padding: 5px;
}

/* Showcase */

.showcase {
	height: 400px;
	background-color: var(--primary-color);
	color: var(--text-color);
	position: relative;
}

.showcase h1 {
	font-size: 40px ;
}

.showcase p {
	margin: 20px 0;
}


.showcase .grid {
	grid-template-columns: 55% 45%;
	grid-gap: 40px;
	overflow: visible;
}

.showcase-form {
	position: relative;
	top: 60px;
	height: 85%;
	width: 400px;
	padding: 40px;
	z-index: 100;
	justify-content: flex-end;
}

.showcase-form .form-control{
	margin: 30px 0;
}

.showcase-form input:focus {
	outline: none;
}

.showcase-form input[type='text']{
	border: 0;
	border-bottom: 1px solid #b4becb;
	width: 100%;
	padding: 3px;
	font-size: 16px;

}

.showcase-form input[type='email']{
	border: 0;
	border-bottom: 1px solid #b4beab;
	width: 100%;
	padding: 3px;
	font-size: 16px;

}

.showcase::before,.showcase::after {
	content: '';
	position: absolute;
	height: 100px;
	bottom:-89px;
	right: 0;
	left: 0;
	background-color: var(--text-color);
	transform: skewY(-4deg);
	-webkit-transform: skewY(-4deg);
	-moz-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);

}
/* Stats */

.stats {
	padding-top: 100px;
}

.grid-3 {
	grid-template-columns: repeat(3,1fr);
	padding-bottom: 20px;
}

.stats-heading{
	max-width: 500px;
	margin: auto;
}

.stats .grid h3{
	font-size: 35px;
}

.stats .grid p{
	font-size: 20px;
	font-weight: bold;
}


/* CLI */

.cli .grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
}

.cli .grid > *:first-child{
	grid-column: 1/ span 2;
	grid-row: 1/span 2;
}


/* Cloud */
.cloud{
	grid-template-columns: 4fr 3fr;
	background-color: var(--primary-color);
	color: #fff;
}

.cloud a{
	background-color: var(--dark-color);
}

.languages .card {
	margin: 18px 10px 40px;
	transition: transform 0.2s ease-in;
}

.languages .card:hover{
	transform: translateY(3px);
	transform: scale(1.1);;
}

.languages .card h4 {
	font-size: 20px;
	margin-bottom: 10px;
}

.languages .flex{
	flex-wrap: wrap;
}
.footer .social a{
	margin: 0 10px;
}

.footer ul {
	display: flex;
	flex-direction: column;
}

.head img{
	width: 200px;
	justify-self: flex-end;
	margin-left: 20px; 
} 


.platform img {
	width: 300px;
	justify-self: flex-end;
	margin-left: 20px; 
}

.platform {
	box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
}


.platform .grid {
	align-items: center;
	justify-content: center;
	justify-self: center;
}


.features-main .card i {
	margin-right: 20px;
}
.features-main .card {
 	justify-content: flex-start;
}
.features-main .container{
	grid-gap: 20px ;
}
.features-main .container > *:first-child{
	grid-column: 1/span 3;
}

.features-main .container > *:nth-child(2){
	grid-column: 1/span 2;
}

.head-docs img{
	width: 200px;
	justify-self: flex-end;
	margin-left: 20px; 
} 

hr {
	width: 85%;
	margin-left: 10px;
	border: 0.5px solid #e0e0e0;
}

.main .grid{
	grid-template-columns: 1fr 2fr;
	align-items: flex-start;
}

.main .left{
	background-color: var(--light-color)
}

.main .left h4{
	font-size: 20px;
	font-weight: 5;
}

.main .right{
	padding: 10 30px;
	margin: 10 10px;
}

.main .right h1{
	margin: 20px 0;
	font-size: 20px;
}

.main .right p{
	font-size: 1rem;
}

.main .alert{
	color: white;
	border: transparent;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-gap: 10px;
	padding-left: 10px;
	background-color: red;
}

.main .code {
	color: white;
	background-color: #333;
	padding: 10px 10px;
	border-radius: 5px;
}










