@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,100&display=swap');

:root {
	--primary-color:#047aed;
	--text-color:#fff;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	color: #333;
	line-height: 1.6;
}

a{
	text-decoration: none;
	color: #222;
}

ul{
	list-style-type: none;
}

h1,h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p {
	margin: 10px 0;
	font-size: 17px;
}

img {
	width: 100%;
}


/* NavBar */
.navbar {
	background-color: var(--primary-color);
	color: var(--text-color); 
	height: 70px;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 10px;
	margin: 0 5px;
}

.navbar a:hover {
	border: 2px solid #fff;
	border-radius: 0.5rem; 
}

.navbar .flex {
	justify-content: space-between;
}

/* Utility */

.btn {
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 10px; 
}

.btn-outline{
	background-color: transparent;
	border: 1px solid #fff; 
}

.btn:hover {
	transform: scale(0.95);
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 110px rgba(0,0,0,0.5);
	padding: 20px;
	margin: 20px;
	color: #333;
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
}



nav > ul{
	display: flex;
	flex-direction: row;
}

li{
	margin-left: 10px;
	padding: 5px;
}

/* Showcase */

.showcase {
	height: 400px;
	background-color: var(--primary-color);
	color: var(--text-color);
	position: relative;
}

.showcase h1 {
	font-size: 40px ;
}

.showcase p {
	margin: 20px 0;
}


.showcase .grid {
	grid-template-columns: 55% 45%;
	grid-gap: 40px;
	overflow: visible;
}

.showcase-form {
	position: relative;
	top: 60px;
	height: 100%;
	width: 400px;
	padding: 40px;
	z-index: 100;
	justify-content: flex-end;
}

.showcase-form .form-control{
	margin: 30px 0;
}

.showcase-form input:focus {
	outline: none;
}

.showcase-form input[type='text']{
	border: 0;
	border-bottom: 1px solid #b4becb;
	width: 100%;
	padding: 3px;
	font-size: 16px;

}

.showcase-form input[type='email']{
	border: 0;
	border-bottom: 1px solid #b4beab;
	width: 100%;
	padding: 3px;
	font-size: 16px;

}




















